.box-style {
    position: relative;
    height: 350px;
    justify-content: center;
    background-color: white;
    /* display: flex; */
    border-radius: 5px;
    box-shadow: 3px 3px 3px #ccc;
    margin: 10px;
}

.half{
    width: 50%;
}

.flex-container {
    display: flex;
    /* justify-content: space-between; */
}

.btn{
    position: absolute;
    font-size: 40px;
    padding: 10px;
    color: #828282;

}

.btn.print{
    right: 80px;
}
.btn.download{
    right: 30px;
}

/* .chart {
    width: 100px;
    height:40px;
} */
