.navbar {
    position: fixed;
    background-color: #C65F4F;
    height: 100vh;
    display: flex;
    top: 0;
    /* width: 0px; */
    justify-content: center; 
     align-items: start;
    transition: 850ms;

  }

  .navbar.active{
    width: 200px;
    transition: 350ms;
  }
  
  .menu-bars {
    font-size: 2rem;
    background: none;
    color: white;
    /* border-radius: 4px; */
  }

  .menu-bars :hover{
    /* background-color: rgb(218, 141, 0); */
    opacity: 0.7;
    transition: 350ms;

  }
  
  /* .nav-menu {
    background-color: #C65F4F;
    width: 200px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    justify-content: center; 
    align-items: start;
  }
   
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  } */
  
  .nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    margin-left: 8px;
    height: 60px;
    /* background-color: rgb(0, 29, 92); */
    /* width: 30px; */
    /* border: 1px solid red; */
  }
  
  .nav-text a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    /* background-color: black; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    opacity: 0.7;
    transition: 350ms;
  }

  .nav-text a:active {
    opacity: 0.7;
    background-color: black;
  }
  
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #C65F4F;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }

  .title{
    left: -100%;
    /* transition: 850ms; */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C65F4F;
    z-index: -1;
  }
  .title.active{
    left: 70px;

    transition: 350ms;
  }